
body {
  background-color: black;
}

.header-tag {
  display: flex;
  color: antiquewhite;
  font-family: 'Courier New';
  background-color: black;
  justify-content: space-between;
  align-items: center;
}
  
.title {
  font-size: 40px;
}
  

.surge-title {
  color: #eb2a64;
  
}



.links {
 color: #eb2a64;
 font-size: 20px;

}

.search-button {
  background-color: #eb2a64;
}

.image-container {
    background-color: black;
    display: flex;
    align-items: center;
}

.sub-images {
  display:flex;
  flex-direction: column;
}
  

.main {
  background-color: #cd2356 ;
  height: 2000px;
  display: flex;
  justify-content: space-between;
  
}
 
  
  
.left-side {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 200px;
}

.right-side {
  background-color: black;
  width: 200px;
}



.lyrics {
  word-spacing: 12px;
  letter-spacing: 3px;
  width: 500px;
  color: white;
  
  font-size: 18px;
  
  
}

.input-labels {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  font-family: 'Courier New';
  font-weight: bold
  
}

.button {
  display: flex;
  justify-content: center;
  
  
}


.song-input {
  font-size: 15px;
}

.artist-input {
  font-size: 15px;
}

.quote-list {
  color: white;
  font-size: 30px;
}


 